<!DOCTYPE html>

<html>

<head>
    <title>Real Chat</title>
    <meta name="viewport" content="content=width=1024" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">

    <script src="https://kit.fontawesome.com/c08eeaa21f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">


</head>

<body>

    <div id="messages" class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="messages_content">
            <%= GroupMessage %>
        </div>
    </div>
    <div class="form-container" style="background-color: rgb(223, 197, 111);">

        <div class="form-header">

            <img class="chat_icon" src="/images/chat_icon.svg">

            <div class="title">Welcome to Real Chat</div>
            <div class="title">Update Password</div>


        </div>

        <form action="/reset-password-post" method='POST' id="join-room">
            <div class="form-control1">
                <input type="text" name="group_name" id="group_name" placeholder="Enter your Group Name" required>
            </div>
            <div class="form-control1">
                <input type="password" name="group_pass" id="group_pass_reset" placeholder="Enter your Group Password" required>
                <span class="eye-span" id="eyespanreset"><i class="fa fa-eye-slash" aria-hidden="true" id="eye"></i></span>
            </div>
            <div class="form-control1">
                <input type="password" name="group_confirm_pass" id="group_pass_reset_confirm" placeholder="Re Enter your Group Password" required>
                <span class="eye-span" id="eyespanresetconfirm"><i class="fa fa-eye-slash" aria-hidden="true" id="eye"></i></span>
            </div>

            <div class="form-control1 btn-group">
                <button type="submit" class="btn btn-info">Update Password</button>

            </div>
        </form>
        <script src="/js/pass_reset.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script>
            // stringify the data passed from router to ejs (within the EJS template only) var msge =
            let msg = '<%=GroupMessage%>';
            console.log(msg.length)
            if (msg.length === 0) {
                $('#messages').hide();
            } else {
                $('#messages').fadeIn();
            }
        </script>


</body>

</html>